.datepickr-wrapper {
    display: inline-block;
    position: relative;
}

.datepickr-calendar {
	font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #454545;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
	display: none;
	position: absolute;
    top: 100%;
	left: 0;
	z-index: 100;
	background-color: white;
}

.open .datepickr-calendar {
    display: block;
}

.datepickr-calendar .datepickr-months {
	padding: 2px;
	text-align: center;
    font-size: 120%;
}

.datepickr-calendar .datepickr-prev-month,
.datepickr-calendar .datepickr-next-month {
	text-decoration: none;
	padding: 0 .4em;
	cursor: pointer;
}

.datepickr-calendar .datepickr-prev-month {
	float: left;
}

.datepickr-calendar .datepickr-next-month {
	float: right;
}

.datepickr-calendar .datepickr-current-month {
	padding: 0 .5em;
	font-size:15px;
	font-weight:bold;
}

.datepickr-calendar .datepickr-prev-month:hover,
.datepickr-calendar .datepickr-next-month:hover {
	background-color: #fff;
	color: #558;
}

.datepickr-calendar table {
	border-collapse: collapse;
	padding: 0;
	width: 100%;
}

.datepickr-calendar thead {
    font-size: 90%;
}

.datepickr-calendar th,
.datepickr-calendar td {
    width: 14.3%;
}

.datepickr-calendar th {
	text-align: center;
    padding: 5px;
}

.datepickr-calendar td {
	text-align: right;
	padding: 1px;
}

.datepickr-calendar .datepickr-day {
	display: block;
	color: #454545;
	border: 1px solid #fff;
	padding: 5px;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	cursor: pointer;
	border-radius:4px;
	transition-duration:.3s;
}

.datepickr-calendar .datepickr-day:hover , .datepickr-calendar .selected .datepickr-day {
	color: #fff;
	background-color: #7CC4B5;
	border: 1px solid #619493;
}

.datepickr-calendar .today .datepickr-day {
	background-color: #fff0A5;
	border: 1px solid #fed22f;
	color: #363636;
}

.datepickr-calendar .disabled .datepickr-day,
.datepickr-calendar .disabled .datepickr-day:hover {
    background-color: #eee;
    border: 1px dotted #ccc;
    color: #bbb;
    cursor: default;
}