/*
*	=== Design Convention ===
*
*   === Basic Convention
*	position: absolute; (x) -> position:absolute;
*	padding-top:5px; padding-bottom:5px ... (x) -> padding:5px 0px 2px 5px;
*
*   === Color Convention
*	Black: #454545
*	White: #fff
*	Red / Error: #ff5a5a
*	Mint: #7cc4b5
*   DarkMint: #619493
*	Gray: #888
*   Gray for Border: #ccc
*	Yellow / Warning: #FFD68B
*
*/
html, body {
	margin:0;
	padding:0;
	font-family:'Nanum Gothic';
	color:#454545;
	height:100%;
	background-color:rgb(250, 250, 250);
}

ul {
	margin:0;
	padding:0;
}

.wrap {
	margin: 0 auto;
}

.content {
	position:relative;
	display:table;
	width:940px;
	min-height:10px;
}

input {
	margin-top:10px;
}

input.text {
	width:250px;
	height:25px;
}

.popupCommentBtn {
	background:#454545;
	color:#fff;
	position:fixed;
	display:none;
	padding:5px;
	border-radius:2px;
	font-size:13px;
	z-index:1000;
}

.highlighted {
	background:#A0FF00;
}

.note-content {
    width:640px;
    margin:0 auto;
    padding:5px;
    min-height:260px;
}

#pCommentBoxCancel {
  float:left;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.pCommentCreateDate {
  font-size: 10px !important;
  color:gray;
  font-weight: 100;
  top: -7px !important;
}

.controll {
  font-size: 13px;
  position: relative;
  top: 4px;
  left: 172px;
}

.controll > a.update {
  margin-right:5px;
}

.pComment-text {
  width: 235px;
  display: block;
  max-width: 228px;
  clear:both;
  position:relative;
  top: 4px;
  padding: 3px;
  font-size: 14px;
  font-family: serif;
}

.pCommentList {
    list-style: none;
}

.aPComment .userProfile > img {
  width: 35px;
  height: 35px;
  border-radius: 2px;
  float: left;
}

.userProfile > div span {
  font-size: 13px;
  color: gray;
}

.userProfile > div {
  float: left;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 15px;
  position: relative;
  top: -4px;
  font-weight: 400;
}

.pCommentListBox {
    width: 243px;
    max-height: 500px;
    min-height: 200px;
    background: #F9EE7A;
    float: right;
    padding-left: 2px;
}

ul.pCommentList {
    clear:both;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 450px;
}

div#pCommentBoxCancel {
  color: red;
}

#allShow {
  top:-10px;
  outline:none;
}

#allShow:hover {
	background-color: #88BEBB;
}

#allShow:active {
    background-color:cadetblue;
}

.code {
    color:darkgreen;
    overflow-x: scroll;
    white-space:nowrap;
    background-color: #EDEDED;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
}

#group-container > a > li > div.alarm-count {
    position:absolute;
    width:20px;
    height:20px;
    background-color:#FF7E7E;
    color:#fff;
    font-size:9px;
    font-weight:bold;
    text-align:center;
    border-radius:10px;
    top:119px;
    left:319px;
    z-index:5;
    line-height:20px;
}

.pCommentBox {
    background-color: white;
    width: 240px;
    height: 126px;
    padding: 10px;
    position: fixed;
	display: none;
    top:0;
	left:0;
	z-index: 250;
	cursor:move;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    margin-bottom: 2px;
}

.userProfile {
  float: left;
  width: 230px;
}

.aPComment {
  width: 238px;
  display: block;
  float: left;
  clear: both;
  margin-left: -31px;
  background-color: white;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  padding: 4px;
}

.pCommentBox .inputP {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
	border: 1px solid #99CDE1;
	overflow-y: auto;
	width: 232px;
	height: 70px;
	cursor:text;
	padding: 3px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.pCommentBox .inputP:focus {
	outline:none;
}


#pCommentCancel {
	float: right;
	position: relative;
	top: -5px;
	right: -5px;
	cursor:pointer;
}

.setUp {
	float: right;
	background-color: #7CAFAC;
	color: white;
	padding: 5px 10px 5px 10px;
	margin-top: 5px;
	font-size: 13px;
	cursor:pointer;
}

.searchResult .label {
	font-size:12px;
	font-weight:bold;
	padding:4px;
}

.searchResultBody {
	width: 392px;
	height: 62px;
	margin-bottom: 2px;
	border-radius: 2px;
	padding: 4px;
	font-size:12px;
    background-color: white;
    cursor:pointer;
}

.searchResultBody:hover {
	background-color: rgb(156, 209, 199);
}

.searchResultText {
	width: 200px;
	height: 52px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	margin-bottom: 2px;
	margin-right: 5px;
	border-radius: 2px;
	padding: 4px;
	background-color: #fafafa;
	float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
    font-size: 16px;
    word-break: break-word;
}

.searchResultName {
    font-size:16px;
    color:black;
    font-weight: 600;
}

.searchResultDate {
    color:darkslategray;
    font-weight: 200;
}

.searchResultGroup {
    font-size: 14px; 
    color:darkslategray;
    font-weight: 600;
}

.search-note-list li {
	position: relative;
	width: 800px;
	margin: 0 auto;
	padding: 20px;
	list-style: none;
	color: #454545;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 2px;
}

.search-note-list img.avatar{
	display: block;
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 2px;
	overflow: hidden;
	background-color: #558;
}

.search-note-list .content-container {
	padding-left: 50px;
	padding-right: 50px;
}

.search-note-list .userName {
	font-size: 13px;
	font-weight: bold;
}

.search-note-list .userId {
	font-size: 12px;
	font-weight: bold;
	color: #74afad;
	padding-right: 5px;
	padding-left: 5px;
}

.search-note-list li .note-date {
	color: #BDBDBD;
	font-size: 12px;
}

.search-note-list .note-util i {
	margin-left: 5px;
	float: right;
}

.spanOnSearch {
    font-size: 12px; 
    color:darkslategray;
    font-weight: 100;
}

a#escape-note {
	margin-right: 31px;
	width: 99px;
	height: 19px;
	background: gray;
}

.btn-temp {
	float: left;
	margin-top: -60px;
}

#previewBox {
  margin: 0px;
  padding: 0px;
}

#view-preview-template {
  width: 306px;
  height: 440px;
  background: #F6F6F6;
  display: block;
  text-align: left;
  padding: 11px;
  padding-top: 0px;
  overflow: auto;
  word-break: break-all;
  font-size: 11px;
}

.attention {
	color: rgb(255, 133, 133);
}

.question {
	color: #FFD68B;
}

#noteTextBox {
	padding: 11px;
	height: 430px;
	width: 590px;
	resize: none;
	font-size: 13px;
	float: left;
    border:none;
}

form#notes-create-form {
	text-align:center;
}

#create-note {
	text-align:center;
}

#create-new-button:focus, textarea#noteTextBox:focus {
	outline: none;
}

#editorTools {
	width: 100%;
	background-color: rgb(124, 196, 181);
	text-align: left;
	margin: 0 auto;
}

.side-menu-container {
	position:absolute;
	width:200px;
	top:0px;
	background-color:#fff;
	font-size:12px;
	padding-bottom:20px;
	border-radius:2px;
	border-bottom:1px solid #ccc;
}

#left-menu-container {
	background-color:white;
	border-radius:2px;
	font-size:12px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

#left-menu-container #calendar-container {
	position:relative;
	text-align:center;
	border-bottom:1px solid #ccc;
}

#left-menu-container #summary-container {
	position:relative;
	padding:5px 0;
}

#left-menu-container span.menu-title {
	position:relative;
	font-weight:bold;
	margin-left:15px;
}

#left-menu-container #summary-container #attention-list {
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
}

#left-menu-container #summary-container ul {
	display:block;
	overflow-y:scroll;
}

#left-menu-container #summary-container ul li {
	padding:2px 5px 2px 20px;
	overflow-x:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

#group-member-container {
	left:100%;
	max-height:500px;
	margin-left:-200px;
	overflow:hidden;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

#group-member-container div#group-member-list {
	position:relative;
	padding: 10px;
	border-bottom:1px solid #ccc;
}

#group-member-container div#group-member-list #group-member {
	margin-top:10px;
	overflow-y:scroll;
}

#group-member-container #group-member-list #group-member td {
	padding:5px 0;
}

#group-member-container #group-member-list #group-member td.member-util i {
	cursor:pointer;
}

#group-member-container #group-member-list #group-member td.member-util ul li {
	cursor:pointer;
	display:inline-block;
	margin-left:2px;
}

#group-member-container #group-member-list #group-member td.member-util ul li .info {
	position:absolute;
	font-size:8px;
	margin-left:-20px;
	margin-top:-30px;
	display:none;
	padding:2px;
	background-color:#454545;
	color:white;
}

#group-member-container #group-member-list #group-member td.member-util ul li:hover .info {
	display:block;
}

#addMemberForm {
	position: relative;
	padding:10px 10px;
	border-bottom:1px solid #ccc;
}

#addMemberForm .inputText {
	width:74%;
	height:15px;
	display:inline;
}

.inputBtn {
	position:relative;
	display:inline;
	color: white;
	background-color:rgb(124, 196, 181);
	top:-2px;
	border:0;
	border-bottom:2px solid rgb(124, 196, 181);
	width:20%;
}

a {
	text-decoration: none;
}

.errorMessage {
	font-size: 10px;
	color: red;
}

#header {
	position: fixed;
	z-index: 9;
	top: 0px;
	width: 100%;
    height: 40px;
}

.headerBackground {
  background-color: rgb(124, 196, 181);
  width: 100%;
  height: 39px;
  position:fixed;
}


#header .util {
	list-style: none;
	float: right;
	height: 100%;
}

#header .util img.avatar {
	width: 28px;
	height: 28px;
	float: left;
	border-radius:2px;
	overflow: hidden;
	margin-top: 6px;
	background-color: #558;
}

#header .util .menu {
	float: left;
	cursor: pointer;
}

#header .util .menu:hover {
	background-color: black;
	opacity:.8;
}

#header .util a {
	color: white;
    margin-right: 6px;
    margin-left: 6px;
}

.drop-down .alarm-list {
	float: right;
	right: 0px;
	top: 25px;
	background-image: none;
}

.drop-down .alarm-list li {
	width: 200px;
	border-bottom: 3px solid #94BDBC;
}

.drop-down .alarm-list li a {
	width: auto;
}

#header .util .label {
	float: left;
	padding: 10px;
}

#header .util .label .alarm-count {
	position:absolute; 
    width:20px;
    height:20px;
    background-color:#FF7E7E;
    color:#fff;
    font-size:9px;
    font-weight:bold;
    text-align:center;
    border-radius:10px;
    top:17px;
    left:26px;
    z-index:9;
    line-height:20px;
}

.searchForm i.fa.fa-search {
	left: -28px;
	position: relative;
	color: black;
}

.onSearchForm i.fa.fa-external-link {
	left: -28px;
	top: 2px;
	position: relative;
	color:black;
}

*[contenteditable] {
	-webkit-user-select: auto !important;
}

.searchResult {
	position: fixed;
	background: #F6F6F6;
	max-height: 390px;
	z-index: 200;
	overflow-y: scroll;
	display: none;
	top : 0;
	left: 0;
}

.onSearchForm>input {
	-webkit-animation-duration: .5s;
	-webkit-animation-name: wideIn;
	margin-left: 15px;
	width: 230px;
	height: 23px;
	margin-top: 8px;
	border-radius: 2px;
	background: white;
	border: none;
	outline-style: none;
	padding-left: 5px;
}

@-webkit-keyframes wideIn {
	0% {
		margin-left: 15px;
		width: 130px;
		height: 23px;
		margin-top: 8px;
		border-radius: 2px;
		background: white;
		border: none;
		outline-style: none;
		padding-left: 5px;
	}

	100% {
		margin-left:15px;
		width:230px;
		height:23px;
		margin-top:8px;
		border-radius:2px;
		background:white;
		border:none;
		outline-style:none;
		padding-left:5px;
	}
}

.searchForm>input {
	margin-left: 15px;
	width: 130px;
	height: 23px;
	margin-top: 8px;
	border-radius: 2px;
	border: none;
	outline-style: none;
	padding-left: 5px;
}

div#leftTopBox {
	float: left;
	width: 350px;
}

#brand img {
	padding-top: 5px;
	height: 28px;
	padding-bottom: 5px;
	float: left;
	border:0;
}

#jumbotron-container {
	width: 100%;
	height: 100%;
	background-image: url('../img/Optimized-bg_main04.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#jumbotron {
	position: relative;
	float: right;
	width: 360px;
	padding: 25px;
	background-color: rgba(45, 45, 45, .6);
	border-radius: 2px;
	color: white;
	margin-top: 100px;
}

#jumbotron h1 {
	padding: 0px;
	margin: 0px;
}

input#targetDate {
	width: 90px;
	font-size: 13px;
	padding-left: 18px;
}

#note-edit-container {
	margin-top: 100px;
	float: none;
	text-align: center;
	height: 80%;
}

#note-edit-group-name {
	text-align: left;
}

form#noteForm {
	height: 100%;
}

div#calendar {
	color: white;
	margin-bottom: 5px;
	margin-left: 5px;
}

#jumbotron .subscribe {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 25px;
}

#jumbotron>form>input {
	width: 350px;
	height: 26px;
	margin-bottom: 6px;
	font-size: 14px;
	border-radius: 2px;
}

.btn {
	position: relative;
	width: 120px;
	padding: 10px;
	border: 0px;
	color: white;
	font-size: 15px;
	margin: 15px 5px;
	cursor: pointer;
}

.btn-pm {
	background-color: rgb(124, 196, 181);
	float: right;
}

textarea#commentText {
	width: 99%;
	height: 150px;
	resize: none;
	position: relative;
}

.btn-group {
	display: table;
	margin: 0 auto;
}

#login-util {
	margin-top: 15px;
	font-size: 12px;
}

#login-util span {
	cursor: pointer;
	padding: 5px;
}

#login-util a {
	color: white;
	text-decoration: underline;
}

.group-list {
	display: table;
	margin: 0 auto;
	width: 720px;
}

#group-name {
	font-weight:500;
	font-size:25px;
	border-left:5px solid rgb(124, 196, 181);
	color:white;
	padding-left:10px;
	background-color: rgb(156, 209, 199);
    border-radius: 2px;
    padding: 2px 12px 5px 12px;
}

span.sDate {
  color: white;
  padding-left: 10px;
  background-color: rgb(156, 209, 199);
  border-radius: 2px;
  padding: 2px 6px 5px 6px;
}

.group-list li {
	display: table;
	float: left;
	width: 310px;
	padding: 20px;
	height: 110px;
	border-radius: 2px;
	margin: 5px;
	cursor: pointer;
	background-color: rgb(156, 209, 199);
	color: white;
	position: relative;
}

.group-list li:hover {
	background-color: rgb(190, 226, 219);
}

.group-list li#create-new {
	background-color: rgb(180, 180, 180);
}

.group-list li#create-new:hover {
	background-color: rgb(194, 192, 192);
}

.group-list .fa-lock, .group-list .fa-unlock {
	position: absolute;
	left: 20px;
	top: 100%;
	margin-top: -25px;
}

/*
 * note page
 */
#note-list-container {
	float: none;
	margin-top:20px;
}

.note-date {
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: bold;
	color: #454545;
}

.note-list {
	display:table;
	margin:0 auto;
	padding:0;
}

.note-list a {
	text-decoration: none;
	color: #454545;
}

.note-list li {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	position: relative;
	width: 480px;
	margin: 0 auto;
	padding: 20px;
	list-style: none;
	color: #454545;
	margin-bottom: 10px;
	background-color:#fff;
	border-radius: 2px;
	border-bottom:1px solid #ccc;
}

.note-list li:hover {
	background-color: #fdf5ce;
}

.note-list li p {
    position: relative;
    width: 100%;
    padding-right: 15%;
}

.note-list li p i{
    font-size: 20px;
}

.fa-plus-square-o {
    float: right;
    position: absolute;
    top:0%;
    right: 2%;
    color:#454545;
}

.noteCard:hover {
    background-color: white!important;
}

.note-list img.avatar, #commentListUl img.avatar {
	display: block;
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 2px;
	overflow: hidden;
	background-color: #558;
}

.note-list .content-container {
	padding-left: 50px;
}

.note-list i:hover {
	color: gray;
}

.note-list .userName {
	display:inline-block;
	font-size: 13px;
	font-weight: bold;
}

.note-list .userId {
	display:inline-block;
	font-size: 12px;
	font-weight: bold;
	color:#74afad;
	padding:0 5px;
}

.note-list li .note-date {
	color:#888;
	font-size:12px;
}

.note-list .qhsans {
	position: relative;
	margin-top: 15px;
	font-size: 15px;
	line-height: 20px;
}

.note-list .note-util i {
	margin-left: 5px;
	float: right;
}

.note-list .note-util i:hover {
	color: gray;
}

.note-util div{
	display:inline-block;
	float:right;
}

.note-util div span{
	position:absolute;
	display:none;
	font-size:8px;
	padding:2px;
	background-color:#454545;
	color:white;
	margin-top:-16px;
	margin-left:0px;
}

.fa.fa-cog {
	font-size : 30px;
	margin-left: 10px;
	visibility: none;
}

.fa-cog:hover {
	cursor: pointer;
}

.switchForm:hover {
	color: #BCBCBC;
	text-decoration: underline;
}

#password-tag:hover {
	color: #BCBCBC;
	text-decoration: underline;	
}

/*
 * modal style
 */
.modal-cover {
	position: fixed;
	top: 0px;
	z-index: 250;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(14, 14, 14, .6);
	overflow: auto;
}

.modal-container {
	position: relative;
	display: table;
	z-index: 25;
	margin: 0 auto;
	background-color: white;
	border-radius: 2px;
	overflow: hidden;
    top:400%;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

span.ShowPComment {
  position: relative;
  left: 630px;
}

span.ShowPComment:hover {
  color: orange;
}

.modal-header {
	width: 100%;
	display: table;
	color: white;
	background-color: #77C4B6;
}

.modal-title {
	float: left;
	padding: 15px;
}

.modal-close-btn {
	position: relative;
	padding: 10px;
	font-size: 25px;
	cursor: pointer;
	float: right;
}

.modal-body {
	position: relative;
	padding: 15px;
}

.modal-body.note-modal {
	width: 890px;
}

#create-new-button {
	margin:0 auto;
	width:520px;
	height:100%;
	font-size:70px;
	margin-bottom:10px;
	color: #B4B4B4;
	text-align: center;
	background-color: #eeeff2;
	opacity:.6;
	border: 3px dotted #B4B4B4;
	border-radius: 2px;
}

#create-new-button:hover {
	color: #aeaeae;
	cursor: pointer;
	background-color: #e7e8eb;
}

#create-new-button:active {
	color: #8F8F8F;
}

.drop-down:hover ul {
	display: block;
}

.drop-down ul {
	display: none;
	position: absolute;
	top: 39px;
	padding-top: 15px;
	list-style: none;
	background-image: url("/img/menuPointer.png");
	background-repeat: no-repeat;
}

.drop-down ul li {
	display: table;
	font-size: 13px;
	width: 100px;
	color: #fff;
	cursor: pointer;
	background-color: black;
	opacity:10;
}

.drop-down ul li a {
	width: 150px;
	display: table;
	padding: 20px;
}

.drop-down ul li:hover {
	background:linear-gradient( to bottom, gray, black);
	opacity:.8;
}

.leaveGroup-btn {
	position: relative;
	font-size: 15px;
	cursor: pointer;
	float: right;
	color: #fff;
}

.leaveGroup-btn:hover {
	color: rgb(255, 133, 133);
}

.panel {
	position: relative;
	width: 100%;
	border-radius: 2px;
	overflow: hidden;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.panel-header {
	position: relative;
	padding: 10px 20px;
}

.panel-body {
	position: relative;
	min-height: 10px;
	padding: 20px;
	background-color: #ffffff;
}

.alert-window-cover {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 20;
}

.alert-window {
	position: relative;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -150px;
	width: 300px;
}

.warn {
	background-color:#ff5a5a;
	color: white;
}

#commentListUl {
	margin-top: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
	list-style: none;
	border-top: 2px solid #f8f8f8;
	font-size: 13px;
    clear: both;
}

#commentListUl li {
	padding-top: 15px;
	padding-bottom: 15px;
}

#commentListUl .comment-container {
	position: relative;
	padding-left: 50px;
}

#commentListUl .comment-info {
	display: block;
	font-weight: bold;
}

#commentListUl .comment-date {
	display: block;
	font-size: 12px;
	padding-top: 5px;
	color: #9a9f9b;
}

#commentListUl .comment {
	margin-top: 5px;
	padding: 15px 0;
	font-size: 15px;
	outline: 2px solid #ffffff;
	transition-property: outline;
	transition-duration: .5s;
}

#commentListUl .comment[contenteditable=true] {
	outline: 2px solid #dcd5d6;
}

#commentListUl .comment-util a {
	display: inline-block;
	cursor: pointer;
	padding: 5px;
}

.comment-div { 
    position: relative;
    float: right;
    width: 30px;
    bottom: 20px;
}

span.italic {
	font-style: italic;
}

span.bold {
	font-weight: bold;
}

span.tag {
	color: gray;
}

.note-content img {
	max-width: 95%;
	display: block;
	margin: 0 auto;
}

.sendmail-content {
	width: 940px;
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
}

.sendmail-content a {
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: rgb(116, 175, 173);
}

#temp-note-list {
	position: absolute;
	width: 940px;
	margin: 0 auto;
	text-align: right;
	list-style: none;
	font-size: 12px;
}

#temp-note-list ul li {
	list-style: none;
	font-size: 12px;
}

.dropdown-menu {
	position: absolute;
	right: 0px;
	background-color: white;
	margin-top: 5px;
}

.dropdown-menu li {
	margin-bottom: 12px;
}
.dropdown > a:link, .dropdown a:visited {
	color: gray;
}

.dropdown-menu > a:link, .dropdown-menu a:visited {
	color: gray;
}

.dropdown-menu .fa-close {
	margin-left: 10px;
	cursor: pointer;
}
