html,body{
    margin:0px;
    padding:0px;
    font-family:'Nanum Gothic';
    color:#454545;
    height:100%;
    transition-duration:.3s;
    background-color:#e9eaed;
}

a{
  text-decoration:none;
}

.errorMessage {
	font-size:10px;
	color:red;
}

ul{
  margin:0px;
  padding:0px;
}

#header{
    position:fixed;
    z-index:9;
    top:0px;
    width:100%;
    background-color:rgba(45,45,45,.8);
}

#header .util{
  list-style:none;
  float:right;
  height:100%;
}

#header .util img.avatar{
  width:45px;
  height:45px;
  float:left;
  border-radius:22px;
  overflow:hidden;
  margin-top:6px;
  background-color:#86E57F;
}

#header .util .menu {
	float:left;
	cursor:pointer;
}
#header .util .menu:hover {
  background-color:#454545;	
}

#header .util a {
  color:white;
}

#header .util .label {
	float:left;
	padding:20px;
}

#brand{

}

#brand img{
    padding-top:5px;
    width:45px;
    height:45px;
    padding-bottom:5px;
}

#jumbotron-container{
    width:100%;
    height:100%;
    background-image:url('../img/bg_main01.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    padding-top:100px;
}
#jumbotron{
    position:relative;
    float:right;
    width:400px;
    padding:25px;
    background-color:rgba(45,45,45,.6);
    border-radius:5px;
    color:white;
}

#jumbotron h1{
    padding:0px;
    margin:0px;
}
#jumbotron .subscribe{
    padding-top:15px;
    padding-bottom:15px;
    line-height:25px;
}

.wrap{
    margin:0 auto;
}
.content{
    position:relative;
    display:table;
    width:940px;
    min-height:10px;
}

input{
    margin-top:10px;
}

input.text{
    width:250px;
    height:25px;
}

.btn{
    position:relative;
    width:120px;
    padding:10px;
    border:0px;
    color:white;
    font-size:15px;
    margin:15px 5px;
    cursor:pointer;
}

#login-util{
  margin-top:15px;
  font-size:12px;
}
#login-util span{
  cursor:pointer;
  padding:5px;
}
#login-util a{
  color:white;
  text-decoration:underline;	
}

.group-list{
  display:table;
  margin:0 auto;
  width:720px;
}

.group-list li{
  display:table;
  float:left;
  width:310px;
  padding:20px;
  height:110px;
  border-radius:4px;
  margin:5px;
  cursor:pointer;
  background-color:#454545;
  color:white;
}

.group-list li#create-new{
  background-color:rgb(180,180,180);

}

.group-list span{
  position:relative;
  top:40px;
  margin-top:60px;
  text-align:center;
}


/*diary page*/
#note-list-container {
	margin-top: 100px;
}
.diary-list{
  margin-left:90px;
  padding-left:150px;
  padding-right:50px;
  width:650px;
  list-style:none;
  color:#454545;
  padding-top:20px;
  padding-bottom:30px;
  margin-bottom:10px;
  background-color:#fff;
  border-bottom:1px soild #e5e6e9;
  border-radius:5px;
}

.diary-list a{
  text-decoration:none;
  color:#454545;
}

.diary-list .diary-date{
  font-size:12px;
}

.diary-list li{
   position:relative;
   display:table;
   width:650px;
   padding:15px 0px;
   border-bottom:1px solid #ddd;
}

.diary-list img.avatar{
   display:block;
   float:left;
   width:45px;
   height:45px;
   border-radius:22px;
   overflow:hidden;
   background-color:#86E57F;
}
.diary-list .msgContainer{
  display:block;
  float:left;
  margin-left:10px;
  width:90%;
}

.diary-list .userName{
   font-size:13px;
   font-weight:bold;
}

.diary-list .qhsans{
   position:relative;
   margin-top:15px;
   font-size:15px;
   line-height:20px;
}

#switchForm:hover {
	color:#BCBCBC;
	text-decoration: underline;
}

.time-nav{
    position:fixed;
    width:80px;
    height:500px;
    top:50%;
    margin-top:-219px;
    list-style:none;
}

.time-nav li{
    width:100%;
    display:table;
    margin-bottom:5px;
    cursor:pointer;
}

.time-nav li:hover .date-tag, .time-nav li.date-select .date-tag{
    opacity:1;
}


.time-nav li .date-tag{
    opacity:0;
    padding:3px;
    float:left;
    font-size:12px;
    background-color:#454545;
    border-radius:4px;
    color:white;
    transition-property:opacity;
    transition-duration:.5s;
}

.time-nav li .date-point{
   width:20px;
   height:20px;
   background-color:#ddd;
   border-radius:10px;
   float:right;
   transition-property:background-color;
   transition-duration:.5s;
}

.time-nav li:hover .date-point, .time-nav li.date-select .date-point{
   background-color:#454545;
}

#black-cover, .modal-cover {
  position:fixed;
  top:0px;
  z-index:999;
  display:none;
  width:100%;
  height:100%;
  background-color:rgba(14,14,14,.6);
}

.modal-container {
	position:relative;
	width:500px;
	height:500px;
	top:50%;
	margin:0 auto;
	margin-top:-250px;
	background-color:white;
	border-radius:10px;
	overflow:hidden;
}
.modal-header{
	width:100%;
	display:table;
	color:white;
	background-color:#454545;
	
}
.modal-title{
	float:left;
	padding:15px;
}

.modal-close {
	position:relative;
	padding:10px;
	font-size:25px;
	cursor:pointer;
	float:right;
}

.modal-body {
	position:relative;
	padding:15px;	
}

#create-new-button {
	postion: absolute;
	float: right;
	top : 100px;
}

.drop-down:hover ul {
	display:block;
}

.drop-down ul{
	display:none;
	position: absolute;
	top:59px;
	list-style:none;
}

.drop-down ul li {
	display:table;
	font-size:13px;
	width:100px;
	color:#fff;
	cursor:pointer;
	background-color:#8a8a8a;
}
.drop-down ul li a {
	width:150px;
	display:table;
	padding:20px;
}

.drop-down ul li:hover {
	background-color:#454545;
}

.deleteGroup-btn {
	position:relative;
	font-size:25px;
	cursor:pointer;
	float:right;
	left: 16px;
  	top: -16px;
  	color:white;
}  	

.panel {
	position:relative;
	width:100%;
	border-radius:5px;
	overflow:hidden;
	margin-bottom:20px;
}

.panel-header {
	position:relative;
	padding:10px 20px;
}

.panel-body {
	position:relative;
	min-height:10px;
	padding:20px;
	background-color:#ffffff;
}

.alert-window {
	position:fixed; top:50%; margin-top:-100px; left:50%; margin-left:-150px; width:300px;
}

.warn {
	background-color:#ff5a5a;
	color:white;
}
