/*
*	=== Design Convention ===
*
*   === Basic Convention
*	position: absolute; (x) -> position:absolute;
*	padding-top:5px; padding-bottom:5px ... (x) -> padding:5px 0px 2px 5px;
*
*   === Color Convention
*	Black: #454545
*	White: #fff
*	Red / Error: #ff5a5a
*	Mint: #9CD1C7
*   DarkMint: #7cc4b5
*	Gray: #888
*   Gray for Border: #ccc
*	Yellow / Warning: #FFD68B
*
*/
html, body {
	margin:0;
	padding:0;
	font-family:'Nanum Gothic';
	color:#454545;
	height:100%;
	background-color:rgb(250, 250, 250);
}

ul {
	margin:0;
	padding:0;
}

.wrap {
	margin: 0 auto;
}

.content {
	position:relative;
	display:table;
	width:940px;
	min-height:10px;
}

input {
	margin-top:10px;
}

input.text {
	width:250px;
	height:25px;
}

.popupCommentBtn {
	background:#454545;
	color:#fff;
	position:fixed;
	display:none;
	padding:5px;
	border-radius:2px;
	font-size:13px;
	z-index:1000;
}

.highlighted {
	background:#A0FF00;
}

.note-content {
    width:640px;
    margin:0 auto 10px auto;
    padding:15px 25px 25px 25px;
    min-height:260px;
    background-color:#fff;
	border:1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

#pCommentBoxCancel {
  float:left;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.pCommentCreateDate {
  font-size: 10px !important;
  color:black !important;
  font-weight: 100;

}

.controll {
  font-size: 13px;
  position: relative;
  top: 4px;
  left: 172px;
}

.controll > a.update, a.comment-update{
  margin-right:5px;
  cursor: pointer;
}

.pComment-text {
  width: 235px;
  display: block;
  max-width: 228px;
  clear:both;
  position:relative;
  padding: 3px;
  font-size: 13px;
}

.pCommentList {
    list-style: none;
}

.aPComment .userProfile > img {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  float: left;
}

.userProfile > div span {
  font-size: 13px;
  color: gray;
}

.userProfile > div {
  float: left;
  margin-left: 4px;
  margin-right: 4px;
	margin-bottom: -12px;
  font-size: 12px;
  position: relative;
  top: -4px;
  font-weight: 400;
}

.pCommentListBox {
    width: 243px;
    max-height: 500px;
    min-height: 200px;
    background: #F9EE7A;
    float: right;
    padding-left: 2px;
    position: relative;
}

ul.pCommentList {
    clear:both;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 450px;
}

div#pCommentBoxCancel {
  color: red;
}

#allShow {
  padding:2px;
  width:27%;
  top:-10px;
  outline:none;
}

#allShow:hover {
	background-color: #88BEBB;
}

#allShow:active {
    background-color:cadetblue;
}

.code {
    color:darkgreen;
    overflow-x: scroll;
    white-space:nowrap;
    background-color: #EDEDED;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
}

#group-header > a {
	float : left;
}

#groupConfig {
	float : left;
}

.background-default {
	float:left;
}

#group-container > a > li > div.alarm-count {
    position:absolute;
    width:20px;
    height:20px;
    background-color:#FF7E7E;
    color:#fff;
    font-size:9px;
    font-weight:bold;
    text-align:center;
    border-radius:10px;
    top:119px;
    left:319px;
    z-index:5;
    line-height:20px;
}

.selected {
       background:#FAED8D;
}

.pCommentBox {
    background-color:#fff;
    width: 240px;
    height: 126px;
    padding: 10px;
    position: fixed;
	display: none;
    top:0;
	left:0;
	z-index: 250;
	cursor:move;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    margin-bottom: 2px;
}

.userProfile {
  float: left;
  width: 230px;
}

form#commentForm {
	width: 640px;
	margin: 0 auto;
	background: #F6F7F8;
	padding: 6px;
}

.aPComment {
  width: 238px;
  display: block;
  float: left;
  clear: both;
  margin-left: -31px;
	margin-bottom: 2px;
  background-color:#fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  padding: 4px;
}

.pCommentBox .inputP {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
	border: 1px solid #99CDE1;
	overflow-y: auto;
	width: 232px;
	height: 70px;
	cursor:text;
	padding: 3px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.pCommentBox .inputP:focus {
	outline:none;
}


#pCommentCancel {
	float: right;
	position: relative;
	top: -5px;
	right: -5px;
	cursor:pointer;
}

.setUp {
	float: right;
	background-color: #7CAFAC;
	color:#fff;
	padding: 5px 10px 5px 10px;
	margin-top: 5px;
	font-size: 13px;
	cursor:pointer;
}

.searchResult .label {
	font-size:12px;
	font-weight:bold;
	padding:4px;
}

.searchResultBody {
	width:390px;
	height:60px;
	padding:4px;
	font-size:12px;
    background-color:#fff;
    cursor:pointer;
}

.searchResultBody:hover {
	background-color:#7cc4b5;
}

.searchResultText {
	width:200px;
	height:50px;
	float:left;
	border-top:1px 0 0 1px solid #ccc;
	margin:0 5px 5px 0;
	border-radius:2px;
	padding:4px;
	background-color:#fafafa;
    text-overflow:ellipsis;
    overflow:hidden;
    word-break:break-word;
}

.searchResultName {
    font-size:16px;
    font-weight:600;
}

.searchResultDate {
    color:#888;
    font-weight: 200;
}

.searchResultGroup {
    font-size:14px; 
    color:#888;
    font-weight:600;
}

.search-note-list li {
	position:relative;
	width:800px;
	margin:0 auto;
	padding:20px;
	list-style: none;
	color:#454545;
	margin-bottom:10px;
	background-color:#fff;
	border-radius:2px;
}

.search-note-list img.avatar{
	display:block;
	float:left;
	width:45px;
	height:45px;
	border-radius:2px;
	overflow:hidden;
	background-color:#558;
}

.search-note-list .content-container {
	padding:0 50px;
}

.search-note-list .userName {
	font-size:13px;
	font-weight:bold;
}

.search-note-list .userId {
	font-size:12px;
	font-weight:bold;
	color:#74afad;
	padding:0 5px;
}

.search-note-list li .note-date {
	color:#BDBDBD;
	font-size:12px;
}

.search-note-list .note-util i {
	margin-left:5px;
	float:right;
}

.spanOnSearch {
    font-size:12px; 
    color:#888;
    font-weight:100;
}

a#escape-note {
	margin-right:0;
	width:99px;
	height:19px;
	background:#888;
}

.btn-temp {
	float:left;
	margin-top:-60px;
}

#previewBox {
  margin:0;
  padding:0;
}

#view-preview-template {
  width:306px;
  height:440px;
  background:#F6F6F6;
  display:block;
  text-align:left;
  padding:0 11px 11px 11px;
  overflow:auto;
  word-break:break-all;
  font-size:11px;
}

.attention {
	color:#ff5a5a;
}

.question{
	color:#ffd68b;
}

#noteTextBox {
	padding:11px;
	height:430px;
	width:590px;
	resize:none;
	font-size:13px;
	float:left;
    border:none;
}

form#notes-create-form, #create-note{
	text-align:center;
}

#create-new-button:focus, textarea#noteTextBox:focus {
	outline: none;
}

#editorTools {
	width: 100%;
	background-color: rgb(124, 196, 181);
	text-align: left;
	margin: 0 auto;
}

.side-menu-container {
	position:absolute;
	width:200px;
	top:0px;
	background-color:#fff;
	font-size:12px;
	padding-bottom:20px;
	border-radius:2px;
	border-bottom:1px solid #ccc;
}

#left-menu-container {
	background-color:#fff;
	border-radius:2px;
	font-size:12px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

#left-menu-container #calendar-container {
	position:relative;
	text-align:center;
	border-bottom:1px solid #ccc;
}

#left-menu-container #summary-container {
	position:relative;
	padding:5px 0;
}

#left-menu-container span.menu-title {
	position:relative;
	font-weight:bold;
	margin-left:15px;
}

#left-menu-container #summary-container #attention-list {
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
}

#left-menu-container #summary-container ul {
	display:block;
	overflow-y:scroll;
}

#left-menu-container #summary-container ul li {
	padding:2px 5px 2px 20px;
	overflow-x:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

#group-member-container {
	left:100%;
	max-height:500px;
	margin-left:-200px;
	overflow:hidden;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, .4);
    box-shadow:0 1px 3px rgba(0, 0, 0, .4);
}

#group-member-container div#group-member-list {
	position:relative;
	padding:10px;
	border-bottom:1px solid #ccc;
}

#group-member-container div#group-member-list #group-member {
	margin-top:10px;
	overflow-y:scroll;
}

#group-member-container #group-member-list #group-member td {
	padding:5px 0;
}

#group-member-container #group-member-list #group-member td.member-util i {
	cursor:pointer;
}

#group-member-container #group-member-list #group-member td.member-util ul li {
	cursor:pointer;
	display:inline-block;
	margin-left:2px;
}

#group-member-container #group-member-list #group-member td.member-util ul li .info {
	position:absolute;
	font-size:8px;
	margin-left:-20px;
	margin-top:-30px;
	display:none;
	padding:2px;
	background-color:#454545;
	color:#fff;
}

#group-member-container #group-member-list #group-member td.member-util ul li:hover .info {
	display:block;
}

#addMemberForm {
	position:relative;
	padding:10px 10px;
	border-bottom:1px solid #ccc;
}

#addMemberForm .inputText {
	width:74%;
	height:15px;
	display:inline;
}

.inputBtn {
	position:relative;
	display:inline;
	color:#fff;
	background-color:rgb(124, 196, 181);
	top:-2px;
	border:0;
	border-bottom:2px solid rgb(124, 196, 181);
	width:20%;
}

a {
	text-decoration: none;
}

.errorMessage {
	font-size: 10px;
	color:#ff5a5a;
}

#header {
	position:fixed;
	z-index:9;
	top:0;
	width:100%;
    height:40px;
}

.headerBackground {
  position:absolute;
  background-color:#9CD1C7;
  width:100%;
  height:100%;
  opacity:.8;
}


#header .util {
  list-style:none;
  float:right;
  height:100%;
}

#header .util img.avatar {
	width:28px;
	height:28px;
	float:left;
	border-radius:2px;
	overflow:hidden;
	margin:6px 0 0 0;
	background-color:#558;
}

#header .util .menu {
  float:left;
  cursor:pointer;
}

#header .util .menu:hover {
  background-color:#619493;
}

#header .util a {
  color:#fff;
  margin-right:0 6px;
}

#header .alarm-list {
  float:right;
  right:0px;
  max-height:450px;
  overflow-y:scroll;
  padding:0;
}

#header .alarm-list li {
  width: 200px;
  border-bottom: 3px solid #94BDBC;
}

#header .util .label {
	float: left;
	padding: 10px;
}

#header .util .label .alarm-count {
	position:absolute; 
    width:20px;
    height:20px;
    background-color:#FF7E7E;
    color:#fff;
    font-size:9px;
    font-weight:bold;
    text-align:center;
    border-radius:10px;
    top:17px;
    left:26px;
    z-index:9;
    line-height:20px;
}

.searchForm i.fa.fa-search {
	left:-28px;
	position:relative;
	color:#454545;
}

.onSearchForm i.fa.fa-external-link {
	position:relative;
	left:-28px;
	top:2px;
	color:#454545;
}

*[contenteditable] {
	-webkit-user-select: auto !important;
}

.searchResult {
	position:fixed;
	background:#F6F6F6;
	max-height:390px;
	z-index:200;
	overflow-y:scroll;
	display:none;
	top:0;
	left:0;
}

.searchResult:hover {
	display:block;
}

.onSearchForm>input {
	-webkit-animation-duration: .5s;
	-webkit-animation-name: wideIn;
	margin-left: 15px;
	width:230px;
	height:23px;
	margin-top:8px;
	border-radius:2px;
	background:#fff;
	border:none;
	outline-style:none;
	padding-left:5px;
}

@-webkit-keyframes wideIn {
	0% {
		width:130px;
	}
	100% {
		width:230px;
	}
}

.searchForm>input {
	margin:8px 0 0 15px;
	width:130px;
	height:23px;
	border-radius:2px;
	border:0;
	outline-style:none;
	padding-left:5px;
}

div#leftTopBox {
	float:left;
	width:350px;
}

#brand img {
	padding:5px;
	height:28px;
	float:left;
	border:0;
}

#jumbotron-container {
	width:100%;
	height:100%;
	background-image:url('../img/Optimized-bg_main04.jpg');
	background-size:cover;
	background-repeat:no-repeat;
}

#jumbotron {
	position:relative;
	float:right;
	width:360px;
	padding:25px;
	background-color:rgba(45, 45, 45, .6);
	border-radius:2px;
	color:#fff;
	margin:100px 0 0 0;
}

#jumbotron h1 {
	padding:0;
	margin:0;
}

input#targetDate {
	width:90px;
	font-size:13px;
	padding-left:18px;
}

#note-edit-container {
	margin-top:50px;
	float:none;
	text-align:center;
	height:80%;
}

#note-edit-group-name {
	text-align:left;
}

form#noteForm {
	height:100%;
}

div#calendar {
	color:#fff;
	margin:0 0 5px 5px;
}

#jumbotron .subscribe {
	padding:15px 0;
	line-height: 25px;
}

#jumbotron>form>input {
	width:350px;
	height:26px;
	margin-bottom:6px;
	font-size:14px;
	border-radius:2px;
}

.btn {
	position:relative;
	width:120px;
	padding:10px;
	border:0;
	color:#fff;
	font-size:15px;
	margin:15px 5px;
	cursor:pointer;
}

.btn-pm {
	background-color:#7cc4b5;
	float:right;
}

.btn-pm-cancle {
	background-color:#888;
	float:right;
}

textarea#commentText {
	width:99%;
	height:80px;
	resize:none;
	position:relative;
}

.btn-group {
	display:table;
	margin:0 auto;
}

#login-util {
	margin-top:15px;
	font-size:12px;
}

#login-util span {
	cursor:pointer;
	padding:5px;
}

#login-util a {
	color:#fff;
	text-decoration:underline;
}

.group-list {
	display:table;
	margin:0 auto;
	width:720px;
}

#group-name {
	font-weight:500;
	font-size:25px;
	border:0 0 0 5px solid #619493;
	color:#fff;
	background-color:#7cc4b5;
    border-radius:2px;
    padding:2px 12px 5px 12px;
}

span.sDate {
  color:#fff;
  background-color:#7cc4b5;
  border-radius:2px;
  padding:2px 6px 5px 6px;
}

.group-list li {
	display:table;
	float:left;
	width:310px;
	padding:20px;
	height:110px;
	border-radius:2px;
	margin:5px;
	cursor:pointer;
	background-color:rgb(156, 209, 199);
	color:#fff;
	position: relative;
}

.group-list li:hover {
	background-color:rgb(190, 226, 219);
}

.group-list li#create-new {
	background-color:rgb(180, 180, 180);
}

.group-list li#create-new:hover {
	background-color:rgb(194, 192, 192);
}

.group-list .fa-lock, .group-list .fa-unlock {
	position:absolute;
	left:20px;
	top:100%;
	margin-top:-25px;
}

/*
 * note page
 */
#note-list-container {
	float: none;
	margin-top:20px;
}

.note-date {
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: bold;
	color: #454545;
}

.note-list {
	display:table;
	margin:0 auto;
	padding:0;
	width: 520px;
}

.note-list a {
	text-decoration: none;
	color: #454545;
}

.note-list li {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	position: relative;
	width: 480px;
	margin: 0 auto;
	padding: 20px;
	list-style: none;
	color: #454545;
	margin-bottom: 10px;
	background-color:#fff;
	border-radius: 2px;
	border-bottom:1px solid #ccc;
}

.note-list li:hover {
	background-color:#fdf5ce;
}

.note-list li p {
    position:relative;
    width:100%;
    padding-right:15%;
}

.note-list li p i{
    font-size:20px;
}

.fa-plus-square-o {
    position:absolute;
    float:right;
    top:0%;
    right:2%;
    color:#454545;
}

.noteCard:hover {
    background-color:#fff!important;
}

.note-list img.avatar {
	display:block;
	float:left;
	width:45px;
	height:45px;
	border-radius:2px;
	overflow:hidden;
	background-color : #558;
}

#commentListUl img.avatar {
	display:block;
	float:left;
	width:30px;
	height:30px;
	border-radius:2px;
	overflow:hidden;
	background-color : #558;
}

.note-list .content-container {
	padding-left:50px;
}

.note-list i:hover {
	color:#888;
}

.note-list .userName {
	display:inline-block;
	font-size:13px;
	font-weight:bold;
}

.note-list .userId {
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	color:#74afad;
	padding:0 5px;
}

.note-list li .note-date {
	color:#888;
	font-size:12px;
}

.note-list .qhsans {
	position:relative;
	margin-top:15px;
	font-size:15px;
	line-height:20px;
}

.note-list .note-util i {
	margin-left:5px;
	float:right;
}

.note-list .note-util i:hover {
	color:#888;
}

.note-util div{
	display:inline-block;
	float:right;
}

.note-util div span{
	position:absolute;
	display:none;
	font-size:8px;
	padding:2px;
	background-color:#454545;
	color:#fff;
	margin:-16px 0 0 0;
}

.fa.fa-cog {
	font-size :30px;
	margin-left:10px;
	visibility:none;
}

.fa-cog:hover {
	cursor:pointer;
}

.switchForm:hover {
	color:#BCBCBC;
	text-decoration:underline;
}

#password-tag:hover {
	color:#BCBCBC;
	text-decoration:underline;	
}

/*
 * modal style
 */
.modal-cover {
	position:fixed;
	top:0px;
	z-index:250;
	display:block;
	width:100%;
	height:100%;
	background-color:rgba(14, 14, 14, .6);
	overflow:auto;
}

.modal-container {
	position:relative;
	display:table;
	z-index:25;
	margin:0 auto;
	background-color:#fff;
	border-radius:2px;
	overflow:hidden;
    top:400%;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.showPComment {
	position:relative;
	display: none;
	text-align : right;
}

.showPComment::after {
	content : "";
	clear:both;
}

.showPComment:hover {
  color:orange;
}

.markdown-body p {
	word-break: break-all;
}

.modal-header {
	width:100%;
	display:table;
	color:#fff;
	background-color:#77C4B6;
}

.modal-title {
	float: left;
	padding: 15px;
}

.modal-close-btn {
	position: relative;
	padding: 10px;
	font-size: 25px;
	cursor: pointer;
	float: right;
}

.modal-body {
	position: relative;
	padding: 15px;
}

.modal-body.note-modal {
	width: 890px;
}

#create-new-button {
	margin:0 auto;
	width:520px;
	height:100%;
	font-size:70px;
	margin-bottom:10px;
	color: #B4B4B4;
	text-align: center;
	background-color: #eeeff2;
	opacity:.6;
	border:3px dotted #B4B4B4;
	border-radius: 2px;
}

#create-new-button:hover {
	color: #aeaeae;
	cursor: pointer;
	background-color: #e7e8eb;
}

#create-new-button:active {
	color: #8F8F8F;
}

.drop-down:hover ul {
	display: block;
}

.drop-down ul {
	display: none;
	position: absolute;
	top: 39px;
	padding-top: 15px;
	list-style: none;
	background-image: url("/img/menuPointer.png");
	background-repeat: no-repeat;
}

.drop-down ul li {
	display:table;
	font-size:13px;
	width:100px;
	color:#fff;
	cursor:pointer;
	background-color:#619493;
}

.drop-down ul li a {
	width:150px;
	position:relative;
	display:table;
	padding:15px 10px;
	left:0;
	transition-property:left;
	transition-duration:.3s;
}

.drop-down ul li:hover a{
	left:15px;
}

.leaveGroup-btn {
	position: relative;
	font-size: 15px;
	cursor: pointer;
	float: right;
	color: #fff;
}

.leaveGroup-btn:hover {
	color: rgb(255, 133, 133);
}

.panel {
	position: relative;
	width: 100%;
	border-radius: 2px;
	overflow: hidden;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.panel-header {
	position: relative;
	padding: 10px 20px;
}

.panel-body {
	position: relative;
	min-height: 10px;
	padding: 20px;
	background-color: #ffffff;
}

.alert-window-cover {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 20;
}

.alert-window {
	position: relative;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -150px;
	width: 300px;
}

.warn {
	background-color:#ff5a5a;
	color:#fff;
}

#commentListUl {
	margin-top: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
	list-style: none;
	border-top: 2px solid #f8f8f8;
	font-size: 13px;
    clear: both;
	background: #F6F7F8;
	width: 640px;
	margin: 0 auto;
}

#commentListUl li {
	padding-top:15px;
}

#commentListUl .comment-container {
	position:relative;
	padding-left:40px;
}

#commentListUl .comment-info {
	display:block;
	font-weight:bold;
}

#commentListUl .comment-date {
	display:block;
	font-size:12px;
	color: #9a9f9b;
	float : left;
}

#commentListUl .comment-user {
	float : left;
	padding-right : 10px;
}

#commentListUl .comment {
	margin-top:5px;
	padding-top:30px;
	padding-bottom:20px;
	font-size:15px;
	transition-property:outline;
	transition-duration:.5s;
}

#commentListUl .comment[contenteditable=true] {
	outline:2px solid #fff;
}

#commentListUl .comment-util{
	float : right;
}

#commentListUl .comment-util a {
	display:inline-block;
	cursor:pointer;
	padding:5px;
}

.comment-div { 
    position:relative;
    float:right;
    width:40px;
    top : -10px;
    left : 10px;
}

span.italic {
	font-style:italic;
}

span.bold {
	font-weight:bold;
}

span.tag {
	color:#888;
}

.note-content img {
	max-width:95%;
	display:block;
	margin:0 auto;
}

.sendmail-content {
	width:940px;
	margin:0 auto;
	margin-top:200px;
	text-align:center;
}

.sendmail-content a {
	text-decoration:none;
	font-size:20px;
	font-weight:bold;
	color:rgb(116, 175, 173);
}


/*
 * 임시 저장 관련 Style
 */

.btn-temp {
	float: left;
	margin-left: 0;
}

#temp-save-message {
	float: left;
	font-size: 12px;
	color: orange;
	margin: 25px 0px 0px 10px;
}

#temp-note-list {
	position:absolute;
	width:940px;
	margin:0 auto;
	text-align:right;
	list-style:none;
	font-size:12px;
}

#temp-note-list ul li {
	list-style:none;
	font-size:12px;
}

#temp-note-list .dropdown {
	margin-top: 10px;
	color: #fff;
}

#temp-note-list .dropdown a {
	padding: 5px;
}

#temp-note-list .dropdown-menu {
	position:absolute;
	right:0;
	background-color:#fff;
	margin-top:10px;
}

#temp-note-list .dropdown-menu li {
	margin-bottom:12px;
}
#temp-note-list .dropdown > a:link, #temp-note-list .dropdown a:visited {
	color:#fff;
}

#temp-note-list .dropdown-menu > a:link, #temp-note-list .dropdown-menu a:visited {
	color:#454545;
}

#temp-note-list .dropdown-menu .fa-close {
	margin-left:10px;
	cursor:pointer;
}

#quickAlarm {
	position:fixed;
	top:50px;
	display:none;
	color:#fff;
	padding:10px;
	background-color:#ff5a5a;
	border-radius:4px;
	font-size:12px;
	opacity:1;
	transition-property:opacity;
	transition-duration:2s;
}

#quickAlarm.fade{
	opacity:0;
}

#quickAlarm div{
	float:left;
	margin:5px;
}

#deleteAlarm {
	background-color: #619493;
	width: 200px;
	border-bottom: 3px solid #94BDBC;
	color: white;
	margin: 5px 0px;
}
