<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<context:property-placeholder location="classpath*:application-properties.xml" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		p:driverClassName="${database.driverClassName}" p:url="${database.url}"
		p:username="${database.username}" p:password="${database.password}" />
	<bean id="UserDao" class="org.nhnnext.guinness.dao.UserDao"
		p:dataSource-ref="dataSource" />
	<bean id="CommentDao" class="org.nhnnext.guinness.dao.CommentDao"
		p:dataSource-ref="dataSource" />
	<bean id="GroupDao" class="org.nhnnext.guinness.dao.GroupDao"
		p:dataSource-ref="dataSource" />
	<bean id="NoteDao" class="org.nhnnext.guinness.dao.NoteDao"
		p:dataSource-ref="dataSource" />
	<bean id="ConfirmDao" class="org.nhnnext.guinness.dao.ConfirmDao"
		p:dataSource-ref="dataSource" />

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.naver.com" />
		<property name="port" value="587" />
		<property name="username" value="hakimaru" />
		<property name="password" value="qwer789456" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>
</beans>
