
.metadata

.settings

/tomcat.*

/target

.project

.classpath

*.class

*.jar

/bin

.DS_store

.idea

/webapp/img/profile/*.*
!/webapp/img/profile/avatar-default.png
/webapp/img/group/*.*
!/webapp/img/group/background-default.png
!/webapp/img/profile/user_hover.png
!/webapp/img/group/change_hover.png
